.card{
    height: 60vh;
    margin: 25px;
    padding: 25px;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.center img{
    width: 260px;
    height: 155px;
    margin: 15px 0;

}
.container{
    margin-top: 10px;
}
.card-table{
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    border: 1px solid black;
    border-radius: 0.25rem;
}
.center .btn{
    font-size: 14px !important;
    margin-top: 10px !important;
    font-weight: 400;
    padding: 12px 72px;
    border-radius: 3px !important;
}
.center{
    padding-bottom: 12px;
}
table img{
    width: 50px;
    height: 50px;
}